.a{
    width: 500px;
    height: 500px;
    background-color: blue;
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
}
.aa{
    width: 100px;
    height: 100px;
    background-color: black;
}
.aa{
    width: 100px;
    height: 100px;
    background-color: black;
}

@media screen and(max-width:900px){
    .aa{
        border-radius: 50%;
        background-color: green;
    }
}
@media screen and(max-width:600px){
    .aa{
        flex-direction: column;
        background-color: red;
    }
}